@page "/"
@using Estim8.UI.Services.Users
@using Blazored.LocalStorage
@inject NavigationManager nav
@inject IUserProvider userProvider

@rendermode InteractiveServer


<div class="login_wrapper">
    <div class="login_screen">
        <h1>Estim8</h1>
        <div class="error_message">
            @Message
        </div>

        <div class="form-group">
            @if (Loading)
            {
                <div class="loader"></div>
            }
            else
            {
                <InputText @bind-Value=RoomName id="inputroom" class="form-control" placeholder="Room Code" />

                @if (ShowUsernameField)
                {
                    <InputText @bind-Value=UserName class="form-control" onkeydown=s placeholder="Username" />
                }
            }

            
        </div>
        <div class="buttons">
            <a class="button login" @onclick="Login">GO ESTIM8</a>

            @if (!ShowUsernameField)
            {
                <a class="button login" @onclick="Logout">Logout</a>
            }
            
        </div>

    </div>

</div>

@code{
    public string? Message { get; set; }

    public string? UserName { get; set; }

    [SupplyParameterFromQuery]
    public string? RoomName { get; set; }

    public bool Loading { get; set; }

    public bool ShowUsernameField { get; set; }

    protected override void OnInitialized()
    {
        ShowUsernameField = true;
        Loading = true;
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Loading is false) return;
        var user = await userProvider.GetUserAsync();
        if (user is not null)
        {
            ShowUsernameField = false;
        }

        Loading = false;
        StateHasChanged();
    }

    void Login()
    {
        if ((ShowUsernameField && UserName is null) || RoomName is null)
        {
            Message = "Please fill in a username and a room code!";
            return;
        }
        if (ShowUsernameField)
        {
            userProvider.InitUser(new UserId(UserName));
        }

        nav.NavigateTo($"/Rooms/{RoomName}");
    }

    async void Logout()
    {
        await userProvider.LogoutAsync();
        nav.NavigateTo(nav.Uri, true);
    }

}