@page "/"
@using Estim8.UI.Services.Users
@inject NavigationManager nav
@inject IUserProvider userProvider

@rendermode InteractiveServer

<div class="login_wrapper">
    <div class="login_screen">
        <h1>Estim8</h1>
        <div class="form-group">
            <InputText @bind-Value=RoomName id="inputroom" class="form-control" placeholder="Room Code" />
            <InputText @bind-Value=UserName class="form-control" onkeydown=s placeholder="User Name" />
        </div>
        <a class="button login" @onclick="Login">GO ESTIM8</a>
    </div>

</div>




<script>

    function s(ele)     
    {
        if (event.key === 'Enter') {
            document.getElementById("inputroom").focus();
        }
    }

</script>

@code{

    public string? UserName { get; set; }

    public string? RoomName { get; set; }

    void Login()
    {
        if (UserName is null || RoomName is null) return;
        userProvider.InitUser(new UserId(UserName));
        nav.NavigateTo($"/Rooms/{RoomName}");
    }
}